.navbar {
    height: 45px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.navbar > button,
.admin > span {
    background-color: inherit;
    color: #f3f3f3e1;
    padding: 0;
    font-size: 1.75rem;
    cursor: pointer;
    transition: color .2s;
}

.navbar > button:hover,
.admin:hover > span,
.admin:focus > span,
.admin:active > span {
    color: #fff;
}

.admin {
    position: relative;
    padding: 0 4px;
    cursor: pointer;
}

.admin:hover > .admin-box,
.admin:active > .admin-box,
.admin:focus > .admin-box {
    transform: scale(1);
}

.admin-box {
    position: absolute;
    background-color: #fff;
    width: 100px;
    text-align: center;
    top: calc(100% + 4px);
    right: 0;
    padding: 4px 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transform: scale(0);
    transform-origin: calc(100% - 7.5px) top;
    transition: all 0.25s;
    z-index: 2;
}

.admin-box::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 100%;
    right: 7.5px;
    height: 0;
    width: 0;
    border: 4px solid;
    border-color: transparent transparent #fff transparent;
}

.admin-box::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 100%;
    right: 0px;
    height: 20px;
    width: 50px;
    background-color: transparent;
}

.admin-box > p {
    color: #333;
    transition: color 0.2s;
}

.admin-box > p:hover {
    color: var(--primary);
    cursor: pointer;
}

/* AdminController */
.controller-container {
    position: fixed;
    display: inline-block;
    visibility: hidden;
    min-height: 100vh;
    top: 45px;
    background-color: #333;
    color: #ccc;
    left: -100%;
    opacity: 0.5;
    z-index: 1;
    transition: all .4s ease-in-out;
    user-select: none;
}

.controller-container.show {
    visibility: visible;
    left: 0;
    opacity: 1;
}

.controller-content {
    padding: 15px 0 15px 15px;
}

.controller-content > div {
    margin-bottom: 0.75rem;
}

.controller-content > div > a, .controller-content > div > p, .title-according {
    color: rgba(204, 204, 204, 0.585);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color .2s;
    cursor: pointer;
    font-size: 17px;
}

.title-according > span {
    transition: all 250ms;
    padding: 0 1rem;
}

.controller-content > div > a:hover,
.controller-content > div.active > a, 
.controller-content > div > p:hover,
.controller-content > div.active > p {
    color: #f2f2f2;
}

.categories {
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
}

.categories > li {
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories > li > a {
    flex: 1;
    display: block;
    color: rgba(204, 204, 204, 0.585);
    transition: color .2s;
    font-size: 15px;
    padding-right: 1rem;
}

.categories > li:last-child {
    margin-right: 1rem;
}

.categories > li:last-child > i {
    display: inline-block;
    color: rgba(204, 204, 204, 0.585);
    transition: color .2s;
    font-size: 20px;
}

.categories > li > a:hover,
.categories > li > i:hover,
.categories > li.li-active > a {
    color: #f2f2f2;
    cursor: pointer;
}

.update-pen {
    font-size: 10px;
    padding: 0 1rem;
    cursor: pointer;
    transition: color .2s;
    color: rgba(204, 204, 204, 0.585);
}

.update-pen:hover {
    color: #f2f2f2;
}

.check-remove {
    --square: 16px;
    display: inline-block;
    width: var(--square);
    height: var(--square);   
    margin-right: 10px; 
}

.according {
    height: 0;
    overflow: hidden;
    transition: all 250ms;
}

/* AdminProducts */
.products-container {
    padding: 15px;
}

.add-btn {
    background-color: rgba(36, 107, 230, 0.8);
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all .2s;
    margin-bottom: 1.5rem;
}

.add-btn:hover, .add-btn:active, .add-btn:focus {
    background-color: rgba(36, 107, 230, 1);
}

.setting-btn {
    padding: 4px 8px;
    border-radius: 5px;
    color: #555;
    font-weight: bold;
    background-color: rgba(235, 177, 69, 0.7);
    cursor: pointer;
}

.setting-btn:hover, .setting-btn:active, .setting-btn:focus {
    background-color: rgb(235, 177, 69, 0.9);
}

.delete-btn {
    margin-left: 0.5rem;
    padding: 4px 8px;
    border-radius: 5px;
    color: #f2f2f2;
    font-weight: bold;
    background-color: rgba(195, 39, 39, 0.7);
    cursor: pointer;
}

.delete-btn:hover, .delete-btn:active, .delete-btn:focus {
    background-color: rgba(195, 39, 39, 0.9);
}

table {
    width: 100%;
    text-align: center;
}

thead {
    display: block;
    background-color: #ddd;
    padding: 0.5rem 15px;
    margin: 0 -15px;
}

tr.product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

tr.product > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

tbody > tr.product {
    border-bottom: 1.5px solid #ccc;
    padding: 0.5rem 15px;
    margin: 0 -15px;
}

.product-img {
    width: 50px;
}

/* ModalProduct */
.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.1);
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    position: relative;
    width: min(98%, 400px);
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    padding: 45px 25px 25px;
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: #555;
    background-color: transparent;
    font-size: 2rem;
    transition: color 0.2s;
}

.modal-close:hover, .modal-close:focus, .modal-close:active {
    color: #333;
}

.modal-form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.modal-form > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1rem;
}

.modal-form > div > input {
    padding: 3px 5px;
    font-size: 15px;
}

.submit {
    margin-top: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.submit.update {
    background-color: rgba(235, 177, 69, 0.7);
}

.submit.update:hover {
    background-color: rgba(235, 177, 69, 0.9);
}

.submit.add {
    background-color: rgba(36, 107, 230, 0.8);
    color: white;
}

.submit.add:hover {
    background-color: rgba(36, 107, 230, 1);
}

/* AdminOrders */
