.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 0 1rem;
    display: none;
}

.modal.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
}

.container {
    width: 460px;
    background-color: rgba(0,0,0, 0.5);
    padding: 1.25rem 1rem;
    border-radius: 8px;
    z-index: 2;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.content > p {
    font-size: 26px;
    color: #f1f1f1;
}

.content > span {
    --square: 40px;
    line-height: var(--square);
    height: var(--square);
    width: var(--square);
    background-color: rgba(0,0,0, 0.6);
    color: #08F26D;
    font-size: 22px;
    border-radius: 50%;
}