.navbar {
    position: relative;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 1rem 0.75rem;
}

.navbar > a {
    position: absolute;
    left: 1rem;
    color: var(--primary);
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.navbar > h3 {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 1rem 12px;
}

.contain-img {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.img-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-signout {
    margin-top: 0.75rem;
    font-size: 16px;
    color: var(--primary); 
    font-weight: 500; 
}

.user {
    flex: 1;
}

.user > div {
    flex: 1;
    margin-bottom: 1rem;
}

.btn-edit {
    background-color: transparent;
    color: #333;
    cursor: pointer;
    transition: color .2s;
}

.btn-edit:hover,
.btn-edit:active {
    color: rgb(95, 13, 177);
}

.name {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.name > p >span {
    margin-left: 1rem;
    font-weight: bold;
}

.according {
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.according.show {
    border-bottom: 1px solid #ccc;
}

.form {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form > div ~ div {
    margin-top: 10px;
}

.form > div > label {
    font-weight: bold;
    width: 160px;
    margin-right: 2rem;
}

.form > div > input {
    padding: 4px 5px;
    border-radius: 3px;
    border: 1px solid #333;
    outline: none;
}

.btn-submit {
    margin-top: 20px;
    padding: 6px 20px;
    background-color: #000;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}

@media (min-width: 540px) {
    .container {
        flex-direction: row;
    }

    .contain-img {
        margin-bottom: 0;
        margin-right: 3rem;
    }
}
